.counter {
  background: url("/img/bg-counter.svg") left bottom no-repeat, #000;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  padding-bottom: 120px;

  &__load-block-0-to-50 {
    position: absolute;
    width: 50%;
    height: 250%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    color: #E4CB7B;

    @media (max-width: 1028px) {
      height: 200%;
      font-size: 18px;
    }

    @media (max-width: 800px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      height: 180%;
      font-size: 10px;
    }
  }

  &__load-block-50-to-75 {
    position: absolute;
    left: 50%;
    width: 25%;
    height: 250%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    color: #E4CB7B;

    @media (max-width: 1028px) {
      height: 200%;
      font-size: 18px;
    }

    @media (max-width: 800px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      height: 180%;
      font-size: 10px;
    }
  }

  &__load-block-75-to-100 {
    position: absolute;
    left: 75%;
    width: 25%;
    height: 250%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    color: #E4CB7B;

    @media (max-width: 1028px) {
      height: 200%;
      font-size: 18px;
    }

    @media (max-width: 800px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      height: 180%;
      font-size: 10px;
    }
  }

  &__text {
    color: #E4CB7B;
    text-align: center;
    font-size: 32px;
    margin-bottom: 64px;
    padding: 0 16px;

    @media (max-width: 800px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__btn {
    border: none;
    background-color: #337D44;
    font-size: 32px;
    padding: 16px 48px;
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms;
    margin-bottom: 160px;

    &:hover {
      background-color: #30C26F;
    }

    @media (max-width: $tablet) {
      font-size: 24px;
      padding: 16px 32px;
    }
  }

  &__load {
    width: 80%;
    height: 54px;
    position: relative;
    border: 3px solid #fff;

    &:before {
      content: '0';
      position: absolute;
      bottom: -20%;
      transform: translate(-50%, 100%);
      font-size: 24px;
      color: #fff;

      @media (max-width: 1028px) {
        font-size: 18px;
      }

      @media (max-width: 800px) {
        font-size: 14px;
      }

      @media (max-width: 600px) {
        font-size: 10px;
      }
    }

    &:after {
      content: '100';
      position: absolute;
      bottom: -20%;
      right: 0;
      transform: translate(50%, 100%);
      font-size: 24px;
      color: #fff;

      @media (max-width: 1028px) {
        font-size: 18px;
      }

      @media (max-width: 800px) {
        font-size: 14px;
      }

      @media (max-width: 600px) {
        font-size: 10px;
      }
    }
    &-50 {
      position: absolute;
      height: 120%;
      width: 3px;
      background: #fff;
      left: 50%;
      font-size: 24px;

      &:after {
        content: '50';
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 100%);
        color: #fff;

        @media (max-width: 1028px) {
          font-size: 18px;
        }

        @media (max-width: 800px) {
          font-size: 14px;
        }

        @media (max-width: 600px) {
          font-size: 10px;
        }
      }
    }

    &-75 {
      position: absolute;
      height: 120%;
      width: 3px;
      background: #fff;
      left: 75%;
      font-size: 24px;

      &:after {
        content: '75';
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 100%);
        color: #fff;

        @media (max-width: 1028px) {
          font-size: 18px;
        }

        @media (max-width: 800px) {
          font-size: 14px;
        }

        @media (max-width: 600px) {
          font-size: 10px;
        }
      }
    }
  }

  &__load-fill {
    height: 100%;
    width: 0;
    background: #337D44;
    display: inline-block;
    position: relative;
  }

  &__load-num {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 16px;
    background: url("/img/icons/icon_lockation.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    height: 100px;
    width: 100px;
    top: calc(-230%);
    right: 0;
    transform: translateX(50%);
    animation: load 1s;
    display: none;
  }
}

@keyframes load {
  0% {
    top: calc(-260%);;
  }
  100% {
    width: calc(-230%);;
  }
}
