.directions {
  background: url("/img/dir-bg.svg") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #E4CB7B;

  &__wrap {
    max-width: 980px;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 64px;

    @media (max-width: $desktop) {
      padding: 0 16px;
      padding-bottom: 64px;
    }

    @media (max-width: 980px) {
      justify-content: center;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      padding-bottom: 40px;
    }
  }

  &__title {
    text-align: center;
    margin: 32px;
    font-size: 32px;
    font-weight: 400;
    flex: 0 0 100%;
  }

  &__first-side, &__second-side {
    display: flex;
  }

  &__first-side {
    text-align: right;

    @media (max-width: 980px) {
      margin-right: 8px;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }

    .directions__img-side {
      margin-left: 16px;
      transform: rotate(180deg);
    }
  }

  &__second-side {

    @media (max-width: 980px) {
      margin-left: 8px;
    }

    @media (max-width: 700px) {
      margin-left: 0;
    }

    .directions__img-side {
      margin-right: 16px;
    }
  }
  
  &__img-side {
    @media (max-width: 700px) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 443px;
    margin: 0;

    @media (max-width: 700px) {
      text-align: center;
      height: auto;
    }
  }

  &__item {
    font-size: 18px;

    @media (max-width: 700px) {
      margin-bottom: 32px;
    }
  }

  &__img-phone {

    @media (max-width: 980px) {
      display: none;
    }
  }
}
